.App {
  text-align: center;
  display: block;
}

.main-page {
  background-size: 100% 100%;
  /* background-size: contain; */
  background-repeat: no-repeat;
  /* background-size: cover; */
  height: auto;
  width: 100%;
  /* max-width: 848px; */
  /* padding-top: 66, 64%; */
}

.form {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 400px;
  padding-left: 280px;
  width: 55%;
}

.score-page-background {
  height: 550px;
  background-size: 100%;
  background-size: contain;
  background-color: "#E9E9E9";
  background-repeat: no-repeat;
  background-position: center;
}

.bullshit-score-gradient {
  font-size: 72px;
  background: linear-gradient(to right, green, yellow, red, gray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.score-range-color {
  width: 120px;
  height: auto;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  display: inline-block;
}

h1 {
  display: inline-flex;
}
@keyframes score-page-image {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
