.App {
  text-align: center;
  display: block;
}

.main-page {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.form {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 300px;
}

.score-page-background {
  height: 550px;
  background-size: 100%;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
}

.score-range-color {
  width: 120px;
  height: auto;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  /* outline: solid; */
  box-sizing: border-box;
  display: inline-block;
  /* 8px ridge rgba(249, 253, 0, 0.6); */
}

h1 {
  display: inline-flex;
}
@keyframes score-page-image {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
